---
layout: default
title: Blog
---

<div class="blog">
  <h1 class="page-heading">Blog Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        
        {% if site.show_excerpts %}
          <div class="post-excerpt">
            {{ post.excerpt }}
            <a href="{{ post.url | relative_url }}">Read more...</a>
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
